<!--component html goes here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div style="padding-right: 20px;">
        <span>Hello </span>{{LoggedUser.firstName}}
      </div>

      <div class="nav-item dropdown">
        <div class=" actor-img nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src='assets/4.sm.jpg' alt='image' width="50" height="50">
        </div>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="Logout()">Logout</a>
          <!-- <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </div>
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>
<div *ngIf="messageSuccess" class="alert alert-success" role="alert">
    <h4 class="alert-heading">You have a massage </h4>
    <p>{{LoggedUser.massage}}</p>
    <hr>
    <p class="mb-0">from {{LoggedUser.sender}}</p>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <!-- <h2 style="margin: auto"> User Details</h2> -->
      <!-- <button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>image</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th>Age</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" (click)="viewuser(user)">
            <td>
              <div class="actor-img"><img src='assets/4.sm.jpg' alt='image' width="50" height="50"></div>
            </td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.age}}</td>
            <td>{{user.salary}}</td>
            <!-- <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
          <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
      </tr> -->
        </tbody>
      </table>
    </div>
    <div class="col-md-6 ">
      <div *ngIf="userInfo" class="card" style="width: 18rem;">
        <img class="card-img-top"  src='assets/4.sm.jpg' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{userInfo.firstName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mobile{{userInfo.mobile}}</li>
          <li class="list-group-item">Age:{{userInfo.age}}</li>
          <li class="list-group-item">salary:{{userInfo.salary}}</li>
        </ul>
        <div class="card-body">
          <a  class="card-link" data-toggle="modal" data-target="#exampleModal">Massege</a>
          <a  class="card-link" (click)="deleteUser(userInfo)">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Massege</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav class="navbar navbar-light bg-light">
            <div class="form-inline">
              <input class="form-control mr-sm-2" type="search" [(ngModel)]="textMassage" placeholder="Your Message" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" (click)="sendMassege(userInfo)" type="submit"  data-dismiss="modal">Send</button>
            </div>
          </nav>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
